[submodule "Catatan Git & GitHub/catatan-practice-github"]
	path = Catatan Git & GitHub/catatan-practice-github
	url = https://github.com/muhammadfarras/catatan-practice-github.git
[submodule "catatan-practice-github"]
	path = catatan-practice-github
	url = https://github.com/muhammadfarras/catatan-practice-github.git
