[submodule "catatan-practice-github"]
	path = catatan-practice-github
	url = https://github.com/muhammadfarras/catatan-practice-github
	branch = master

[submodule "Learn-R-Programming"]
	path = Learn-R-Programming
	url = git@github.com:muhammadfarras/Learn-R-Programming.git
